TWITCH_CLIENT_ID=i3t5cxl3az65hpwog8297pcwgaz6io
TWITCH_CLIENT_SECRET=t671i7p8njsrm6jl0u01dvv1zgh6u
TWITCH_USERNAME=joanmiii
TWITCH_CALLBACK_URL=https://TU_DOMINIO.up.railway.app/twitch/callback
TWITCH_REWARD_NAME=TTS
APP_ACCESS_TOKEN=sajvxlc26d7m6xy83cac17qz9l9evy 